<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Agradecemos pela escolha</h5>
        <p class="cardtext">Site desenvolvido por Amanda Ribeiro</p>
    </div>
    <div class="card-footer text-muted">
        ©2023 Copyright: Amanda Ribeiro
    </div>
</div>